<configuration scan="true">

	<contextName>bryggmester</contextName>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${jetty.home}/logs/bryggmester_%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss} %5level [%40.40logger{40}] %msg %ex %n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>

	<logger name="se.trollbrook" level="debug"/>

</configuration>
