.main { #
	border: 1px solid black;
	width: 1200px;
	font-size: 25px;
	padding-left: 20px;
	color: #666;
	font-family: 'Fauna One', serif;
}

#recipelisttable {
	border-collapse: collapse;
}

#recipelisttable td {
	padding-right: 10px;
}

input[type=submit] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid black;
}

a {
	padding: 3px 8px 3px 8px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	border-radius: 6px;
	text-decoration: none;
	color: black;
	border: 1px solid black;
}

.controlpaneltable td {
	padding: 0px 15px 0px 0px;
}

.edittable {
	border-spacing: 30px;
}

.editinnertable td {
	padding: 3px 15px 3px 3px;
}

table {
	font-size: 25px;
	color: #666;
	font-family: 'Fauna One', serif;
}

a {
	font-size: 12px;
}

.controldiv td {
	padding-bottom: 15px;
}

.leftview { #
	border: 1px solid black;
	float: left;
	width: 450px;
}

.rightview { #
	border: 1px solid black;
	float: left;
	padding-left: 20px;
	width: 550px;
}

.smalllink {
	font-size: 12px;
	font-family: 'Fauna One', serif;
	color: #666;
}

.footerlinks {
	clear: both;
}

.editdiv {
	font-size: 12px;
}

.messages {
	border: 1px solid black;
	border-radius: 10px;
}

.infomessage {
	color: #FFCC00;
}

.errormessage {
	color: #CC0000;
}

.errors {
	font-size: 1.5em;
	color: red;
}

.tr_1 {
	background-color: #EEEEEE;
}

.temperature {
	font-family: 'Paytone One', sans-serif;
}

#updateinfo {
	color: red;
}

.ackdiv {
	color: red;
}

.programended {
	color: red;
}

#runningstatediv {
	
}

.heatinfo {
	
}

.pumpinfo {
	
}

.tempinfo {
	
}

.wantedinfo {
	
}

.smallinfo {
	width: 220px;
	float: left;
}

.wideinfo {
	width: 440px;
}

fieldset {
	border-radius: 10px;
}

#programname {
	font-size: 2em;
}

.activeinstruction {
	background-color: #CCC;
}

.timeleftdiv {
	font-size: 0.5em;
	white-space: nowrap;
}

#totaltimeleftdiv {
	width: 440px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}