#parse("header.vm")
<div id="testalarmdialog"></div>
<div class="controldiv">
	<form action="controlpanel.html" method="POST" id="actionform">
		<table class="controlpaneltable">
			<tr>
				<td>Programstatus</td>
				<td id="program">Laddar...</td>
			</tr>
			<tr>
				<td>Pump</td>
				<td id="pump">Laddar...</td>
			</tr>
			<tr>
				<td>Värme</td>
				<td id="heat">Laddar...</td>
			</tr>
			<tr>
				<td>Temp</td>
				<td id="temp">Laddar...</td>
			</tr>
			<tr>
				<td>Önskad</td>
				<td id="wanted">Laddar...</td>
			</tr>
			<tr>
				<td>CPU temp</td>
				<td id="cputemp">Laddar...</td>
			</tr>
		</table>
	</form>

	<div style="height: 30px; xborder: 1px solid black;">
		<div id="info" style="font-family: monospace;">
		</div>
	</div>
	
	<div id="editors" style="visibility:hidden;">
		<input type="submit" onclick="startPump()" value="Starta pumpen"/>
		<input type="submit" onclick="stopPump()" value="Stoppa pumpen"/><br/>
		<input type="text" placeholder="Önskad temp" id="wantedinput" value="" style="width: 80px">
		<input type="submit" onclick="setWanted()" value="Ändra önskad"/><br/>
	</div>
	<input type="submit" onclick="testAlarm()" value="Testa alarm"><br/>
		#if( $simulatetemp ) 
		<input type="text" placeholder="Sätt temperatur" id="settemp" value="" style="width: 80px">
		<input type="submit" onclick="setTemp()" value="Ändra temp"/><br/>

		<input type="text" placeholder="Mot framtiden" id="addtime" value="" style="width: 80px">
		<input type="submit" onclick="addTime()" value="Till framtiden"/><br/>
		#end

<br/>	
<a href="index.html">Hem</a>
<br/><br/><br/>
</div>
<script>
var ts = 0;
function startPump() {
	doAction("startpump", {foo: "bar"});
}
function stopPump() {
	doAction("stoppump", {foo: "bar"});
}
function setWanted() {
	var w = $("#wantedinput").val();
	doAction("setwanted", {wanted: w});
}

function doAction(action, data) {
	${esc.dollar}.ajax({
		  async: true,
		  type: "GET",
		  dataType: "json",
		  cache: false,
		  data: data,
		  url: "controlpanel/" + action + ".json"
		}).done(function ( data ) {
			$('#info').html(data.message);
			$('#info').show();
			$('#info').fadeOut(2500);
		});
}
function updateState() {
	${esc.dollar}.ajax({
		  async: true,
		  type: "GET",
		  dataType: "json",
		  cache: false,
		  url: "status.json",
		  data: {
			  ts: ts
		  }
		}).done(function ( data ) {
			setTimeout(function(){updateState()},1000);
			if( data.currentstate ) {
				$("#program").html(data.currentstate);
				if( "EXECUTING" == data.currentstate ) {
					$("#editors").css({visibility: "hidden"});
				} else {
					$("#editors").css({visibility: "visible"});
				}
			} else {
				$("#program").html("Okänt");
			}
			if( data.pump ) {
				$("#pump").html(data.pump);
			} else {
				$("#pump").html("Okänt");
			}
			if( data.heat ) {
				$("#heat").html(data.heat);
			} else {
				$("#heat").html("Okänt");
			}
			if( data.temp ) {
				$("#temp").html(data.temp);
			} else {
				$("#temp").html("Okänt");
			}
			if( data.wantedtemp ) {
				$("#wanted").html(data.wantedtemp);
			} else {
				$("#wanted").html("Okänt");
			}
			if( data.cputemp ) {
				$("#cputemp").html(data.cputemp);
			} else {
				$("#cputemp").html("Okänt");
			}
			ts = data.ts;
		});
}
setTimeout(function(){updateState()},1000);
$( "#testalarmdialog" ).dialog({
		modal: true,
		dialogClass: "no-close",
		autoOpen: false,
		buttons: [
		  {
		    text: "OK",
		    click: function() {
		      $( this ).dialog( "close" );
		    }
		  }
		]
	});
function testAlarm() {
	$('#testalarmdialog').load('testalarm.html').dialog('open');
}
function setTemp() {
	${esc.dollar}.ajax({
		  async: true,
		  type: "POST",
		  cache: false,
		  url: "temp",
		  data: {
			  temp: $("#settemp").val()
		  }
		}).done(function ( data ) {
			if( "OK" != data )
				alert(data);
		});
}

function addTime() {
	${esc.dollar}.ajax({
		  async: true,
		  type: "POST",
		  cache: false,
		  url: "addtime",
		  data: {
			  time: $("#addtime").val()
		  }
		}).done(function ( data ) {
			if( "OK" != data )
				alert(data);
		});
}

</script>

#parse("footer.vm")