<div title="Ändra kok tid">
<form action="saveboilduration.html">
<input style="width: 50px;" autofocus="autofocus" name="value" value="$!r.boilDuration.toMinutes()"/>&nbsp;minuter
<input name="id" value="$r.id" type="hidden"/>
<br/>
<br/>
<input type="submit" value="Spara">
</form></div>