<div title="Lägg till hop">
	<form action="savehop.html">
		<table>
			<tr>
				<td>Text:</td>
				<td><input autofocus="autofocus" name="text" value="" style="width: 100px"/></td>
			</tr>
			<tr>
				<td>Vikt:</td>
				<td><input name="weight" value="" style="width: 100px"/>&nbsp;g</td>
			</tr>
			<tr>
				<td>Koktid:</td>
				<td><input name="time" value="" style="width: 100px"/>&nbsp;minuter</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input name="id" value="$r.id" type="hidden"/>
					#if( $request.getParameter("index") )
						<input name="index" value="$request.getParameter("index")" type="hidden"/>
					#end
					<input type="submit" value="Lägg till">
				</td>
		</table>
	</form>
</div>