<div title="Ändra start temp">
<form action="savestarttemp.html">
<input name="value" autofocus="autofocus" value="$!r.startTemperature.value"/>
<input name="id" value="$r.id" type="hidden"/>
<input type="submit" value="Spara">
</form></div>